In [1]:
# 1)python program to sum all the items in a list
list1 = [11, 5, 17, 18, 23] 
total = sum(list1)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [2]:
# 2)python program to multiplies all the elements in a list
def multiplyList(myList) : 
    result = 1
    for x in myList: 
         result = result * x  
    return result   
list1 = [1, 2, 3]  
list2 = [3, 2, 4] 
print(multiplyList(list1)) 
print(multiplyList(list2))

6
24

In [3]:
# 3)python program to get the largest and smallest number from a list
list1 = [10, 20, 4, 45, 99]  
print("Largest element is:", max(list1))
print("Smallest element is:", min(list1))

Largest element is: 99
Smallest element is: 4

In [4]:
# 4)python program to remove duplicate from a list
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [5]:
# 5)python program to check a list is empty or not
a=[3,4] 
if not a:
    print ("list is empty")
else:
    print ("list is not empty")

list is not empty